$primary-color: #19747E;
$primary-gradient-color: linear-gradient(to top, #D1E8E2 0%, #19747e 100%);
$secondary-color: #D1E8E2;
$secondary-gradient-color: linear-gradient(to top, #A9D6E5 0%, #D1E8E2 100%);
$tertiary-color: #A9D6E5;
$text-color: #E2E2E2;